body {
  background: #2261aa;
}

h5 {
  color: white;
  margin-top: 2px;
}

.logo {
  margin-top: 5px;
}

p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #eef0f3;
  border: 0;
  border-radius: .1rem;
  color: #fac105;
  height: 1.5rem;
  position: relative;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background: transparent;
  border-radius: .1rem;
}

.progress::-webkit-progress-value {
  background: #fac105;
  border-radius: .1rem;
}

.progress::-moz-progress-bar {
  background: #fac105;
  border-radius: .1rem;
}

.progress:indeterminate {
  animation: progress-indeterminate 1.5s linear infinite;
  background: #eef0f3 linear-gradient(to right, #fac105 30%, #eef0f3 30%) top left/150% 150% no-repeat;
}

.progress:indeterminate::-moz-progress-bar {
  background: transparent;
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}